<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style/photo.css">
</head>
<body class="login">
    <header>
        <nav>
            <a href="photo.hbs">Home</a>
            <a href="photologin.hbs">Login</a>
            <a href="photoregister.hbs">Register</a>
        </nav>
    </header>
    <main>
        <h1>Login</h1>
        <form action="photologin" method="post">
            <label for="name">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>
